<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Maven Struts Examples</display-name>
  
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet  </servlet-class>
    <init-param>
        <param-name>config</param-name>
        <param-value> /WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
       <servlet-name>action</servlet-name>
       <url-pattern>*.do</url-pattern>
  </servlet-mapping>
		<!-- <taglib>
		     <taglib-uri>
			  http://struts.apache.org/tags-bean
		     </taglib-uri>
		     <taglib-location>
			  /WEB-INF/struts-bean.tld
		     </taglib-location>
		</taglib>
		<taglib>
		     <taglib-uri>
			  http://struts.apache.org/tags-html
		     </taglib-uri>
		     <taglib-location>
			  /WEB-INF/struts-html.tld
		     </taglib-location>
		</taglib>
		<taglib>
		     <taglib-uri>
			  http://struts.apache.org/tags-logic
		     </taglib-uri>
		     <taglib-location>
			  /WEB-INF/struts-logic.tld
		     </taglib-location>
		</taglib>
		<taglib>
		     <taglib-uri>
			  http://struts.apache.org/tags-tiles
		     </taglib-uri>
		     <taglib-location>
			  /WEB-INF/struts-tiles.tld
		     </taglib-location>
		</taglib>
		<taglib>
		     <taglib-uri>
			  http://struts.apache.org/tags-nested
		     </taglib-uri>
		     <taglib-location>
			  /WEB-INF/struts-nested.tld
		     </taglib-location>
		</taglib> -->

</web-app>